main
    section.section_content.pb-0
        .container
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="#") Главная
                li.breadcrumb-item
                    a(href="#content") #{page.title}
            h1 #{page.title}

    .product_slider
        -for(var i=1;i<=10;i++)
            .item(style="background-image:url(img/catalog.jpg)")
                a.item_fancybox(href="img/catalog.jpg" data-fancybox="product_gallery")
    .container
        .product_slider_nav
            -for(var i=1;i<=10;i++)
                div.slick_item
                    .item(style="background-image:url(img/catalog.jpg)")

    .container
        a.btn_default_orange(href="#" download="") Скачать брошюру
    .container.content.product_content
        p Компания СООО «Леан Лагин Мирупак»,  как производитель экрузионных туб,  начала свои производственную деятельность в 2008 году с открытия завода на той же производственной прлощадке, где была основана компания ООО “ЛеанГрупп”. В связи с реорганизацией компании СООО «Леан Лагин Мирупак» путем присоединения к компании ООО “ЛеанГрупп” 2 ноября 2015г. компания СООО «Леан Лагин Мирупак» прекратила свою деятельность. В настоящее время производство экструзионных туб осуществляется под товарным знаком “МИРУПАК”, который зарегистрирован на компанию ООО “ЛеанГрупп”, как правоприемника компании СООО «Леан Лагин Мирупак».
        p Экструзионное подразделение - это полностью автоматизированное с замкнутым циклом производство, с вентиляцией и кондиционированием, компьютерными сетями, системой безопасносттии круглосуточным видеонаблюдением за производственным процессом.
        p Осенью 2011 года было начато производство многослойный пластиковых туб.
        p Экструзионное производство оснощено сомым современным оборудованием. Polytype (Linearis) - гибридная технология печати,  Polytype TRAX - офсетная печать (до 6 красок), Dubuit - шелкографическая печать (до 5 красок), Breyer (экструдер).
        p Благодаря наличию защитного слоя EVOH данные тубы используются для фасовки разнообразных компонентов, имеющих активный состав, что позволяет увеличить срок годности продукции и обеспечить лучшую ее сохранность. Такими особыми продуктами являются лечебные кремы, зубные пасты, детские кремы и мази, продукты питания (плавленные сыры, йогурты, майонез, горчица, паштеты и т.д.), требующие особых условий упаковки и храниения продукта.



