main
    section.section_content
        .container
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="#") Главная
                li.breadcrumb-item
                    a(href="#content") #{page.title}
            h1 #{page.title}
            .content
               p Неправильно набран адрес, или такой страницы на сайте больше не существует.
               p Вернуться на <a href="/">главную







