main
    section.section_content
        .container
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="#") Главная
                li.breadcrumb-item
                    a(href="#content") #{page.title}
            h1 #{page.title}
            .content
                p ООО «ЛеанГрупп» успешно работает на рынке упаковки с 1999 года и основа репутации нашей компании в сфере производства туб – это коллектив мастеров своего дела, которые постоянно развиваются профессионально, а также повышают свою квалификацию и находятся в тренде последних событий и новшеств в сфере производста ламинатных и экструзионных туб, а также этикетки.
                p Мы стремимся к повышению качества и конкурентоспособности выпускаемой продукции за счет постоянного совершенствования технологического процесса, использования сырья высокого качества, высокотехнологичного оборудования и изучения требований рынка пластиковой упаковки.
                .row.pt-2.mt-3.mt-md-4.mt-xl-5
                    -for(var sl=1;sl<=6;sl++)
                        .col-12.col-sm-12.col-md-6.col-xl-6
                            article.type_sertificate
                                p.s_title Сертификат соответствия SGS
                                .row
                                    .col-12.col-sm-12.col-md-12.col-xl-6.col_left
                                        a.thumbnail_link(href="img/s_1.png" data-fancybox="sertificates")
                                            img(src="img/s_1.png")
                                    .col-12.col-sm-12.col-md-12.col-xl-6.col_right ООО «ЛеанГрупп» является эксклюзивным представителем компаний с мировым именем, что обеспечивает наивысшие стандарты качества и долгосрочные гарантии на предлагаемую продукцию, соответствие всем ГОСТам и имееющая все соответствующие сертификаты качества. И долгосрочные гарантии.





