-var f_catalog_menu =['Главная','О нас','Сертификаты','Наша команда'];
-var f_catalog_menu2 =['Новости','Вакансии','Контакты'];
-var info_menu = ['Ламинатные тубы','Экструзионные тубы','Этикетка'];
footer
    .container
        .row
            .col-12.col-sm-12.col-md-4.col-xl-3.left_col
                .logo_block
                    a.logo_link(href="#")
                        img(src="img/f_logo.png")
                        span.site_desc у качества нет конкуренции
            .col-12.col-sm-12.col-md-8.col-xl-5.center_col
                .row
                    .col-12.col-sm-12.col-md-8.col-xl-8
                        .f_title Разделы
                        .row
                            .col-12.col-sm-12.col-md-6.col-xl-6
                                ul.f_nav
                                    for menu_item,index in f_catalog_menu
                                        if index == 0
                                            li.active
                                                a(href="" + menu_item + '.html')=menu_item
                                        else
                                            li
                                                a(href="" + menu_item + '.html')=menu_item
                            .col-12.col-sm-12.col-md-6.col-xl-6
                                ul.f_nav
                                    for menu_item2,index in f_catalog_menu2
                                        li
                                            a(href="" + menu_item2 + '.html')=menu_item2

                    .col-12.col-sm-12.col-md-4.col-xl-4.pr-0
                        .f_title Продукция
                        ul.f_nav
                            for menu_item1,index in info_menu
                                li
                                    a(href="" + menu_item1 + '.html')=menu_item1
            .col-12.col-sm-12.col-md-12.col-xl-4.right_col
                a.feedback(href="#feedback" data-toggle="modal") Связаться с нами
                .f_social_block
                    p.text-center Мы в соц. сетях
                    ul.f_solial
                        li
                            a.fb(href="")
                        li
                            a.twitter(href="")
                        li
                            a.google(href="")
                        li
                            a.vk(href="")
                        li
                            a.telegram(href="")
                        li
                            a.linkedin(href="")
                        li
                            a.t(href="")
                        li
                            a.youtube(href="")
                        li
                            a.ok(href="")




section.copyright
    .container
        .row
            .col-12.col-sm-12.col-md-6.col-xl-6
                p Copyright © 2018 Leongroup
            .col-12.col-sm-12.col-md-6.col-xl-6
                p.seologic
                    a(href="#") Разработка сайта - Seologic.by

a.scrolltop(href="#body")



.modal.fade#feedback(role="dialog" aria-labelledby="modalLabel" aria-hidden="true")
    .modal-dialog
        .modal-content
            .modal-header
                p.title.h2 Обратная связь
                button.close(data-dismiss="modal" aria-label="Close")
            .modal-body
                form
                    .row
                        .col-12.field
                            input.form-control(type="text" placeholder="Ваше имя")
                        .col-12.field
                            input.form-control(type="text" placeholder="Ваш email")
                        .col-12.field
                            input.form-control(type="text" placeholder="Ваш телефон")
                        .col-12.field
                            textarea.form-control(placeholder="Сообщение")
                        .col-12.btn_block
                            button.btn_default(type="submit") Отправить

