section.section_form
    .container
        p.title Оставить заявку
        p.sub_title Оставьте заявку и наш менеджер свяжется с Вами в ближайшее время для уточнения деталей заказа
        form.main_form
            .row
                .col-12.col-sm-12.col-md-12.col-xl-4.field
                    span.name
                        input.form-control(type="text" placeholder="Ваше имя")
                .col-12.col-sm-12.col-md-6.col-xl-4.field
                    span.phone
                        input.form-control(type="text" placeholder="Телефон")
                .col-12.col-sm-12.col-md-6.col-xl-4.field
                    span.email
                        input.form-control(type="text" placeholder="E-mail")
                .col-12.field
                    span.message
                        textarea.form-control(placeholder="Сообщение")
                .col-12.btn_block
                    button.btn(type="submit") Отправить
