main
    section.section_content
        .container
            ul.breadcrumb
                li.breadcrumb-item
                    a(href="#") Главная
                li.breadcrumb-item
                    a(href="#content") #{page.title}
            h1 #{page.title}
            .content
                .row
                    .col-12.col-sm-12.col-md-6.col-xl-3
                        .contact_group
                            .c_title Беларусь
                            ul
                                li.phone +7 (495) 280-73-44 <br>+7 (495) 280-73-44 (ф)
                                li.mail info@leangroup.by
                                li.location 220075, Республика Беларусь, Минск, ул. Промышленная, 25 А
                    .col-12.col-sm-12.col-md-6.col-xl-3
                        .contact_group
                            .c_title Москва
                            ul
                                li.phone +7 (495) 280-73-44 <br>+7 (495) 280-73-44 (ф)
                                li.mail info@leangroup.by
                                li.location 220075, Республика Беларусь, Минск, ул. Промышленная, 25 А
                    .col-12.col-sm-12.col-md-6.col-xl-3
                        .contact_group
                            .c_title Екатеринбург
                            ul
                                li.phone +7 (495) 280-73-44 <br>+7 (495) 280-73-44 (ф)
                                li.mail info@leangroup.by
                                li.location 220075, Республика Беларусь, Минск, ул. Промышленная, 25 А
                    .col-12.col-sm-12.col-md-6.col-xl-3
                        .contact_group
                            .c_title Европа
                            ul
                                li.phone +7 (495) 280-73-44 <br>+7 (495) 280-73-44 (ф)
                                li.mail info@leangroup.by
                                li.location 220075, Республика Беларусь, Минск, ул. Промышленная, 25 А

                .row
                    .col-12.map
                        script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A49e80919182dd234343b00e029dfd3db7e677f560af2cd178e018940a2ebf908&amp;width=100%&amp;height=500&amp;lang=ru_RU&amp;scroll=false")








